html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #23252C;
  font-family: 'Inter';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* TYPOGRAPHY */

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.56;
  color: #FFFFFF;
  padding: .84em 0 0 0; 
}

h2 {
  font-weight: 400;
  font-size: 1.28rem;
  line-height: 1.2;
  color: #F3BF99;
  padding-top: .1em;
}

h3 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #F5F5F5;
}

.info--website {
  font-size: 1.024rem;
  line-height: 1.5;
  color: #F5F5F5;
  padding: .8em 0 1.5em 0;
}

.info--email {
  color: #374151;
}

.info--linkedin {
  color: #FFFFFF;
}

.info--linkedin, .info--email {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.14;
}

.about--text, .interests--text {
  font-size: 1.024rem;
  line-height: 1.5;
  color: #DCDCDC;
}

/* CONTAINER */

.container {
  background: #1A1B21;
  width: 317px;
  height: 780px;
  margin: 4.4em auto 0 auto;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* INFO */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info--img {
  object-fit: cover;
  object-position: 0% 50%;
  width: 317px;
  height: 317px;
  border-radius: 10px 10px 0px 0px;
}

.info--links_cnt {
  display: flex;
  gap: 17px;
  padding-bottom: 3.3em;
}

.info--links_cnt > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 9px 13px 9px 11px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  text-decoration: none;
  width: 115px;
  height: 34px;
}

.info--links_cnt > a:focus, .info--links_cnt > a:hover  {
  opacity: 70%;
}

.info--email {
  background: #FFFFFF;
}

.info--linkedin {
  background: #5093E2;
}

/* ABOUT & INTERESTS */

.about {
  padding-bottom: 1.4em;
}

.about, .interests {
  display: block;
  width: 247px;
  margin: 0 auto;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 64px;
  width: 100%;
  background: #161619;
  padding: 0 7.3em;
}

.footer--icons i {
  color: #918E9B;
  font-size: 25px;
}

.footer--icons i:hover, .footer--icons i:focus {
  opacity: 80%;
}